/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'open-sans', 'lato', sans-serif;
    font-size: 12pt;
}

h1 {
    font-size: 20pt;
    
}

h2 {
    font-size: 16pt;
    font-weight: 700;
}

h3 {
    font-size: 14pt;
    font-weight: 300;
}