<app-sidebar></app-sidebar>
<div id="container">
  <div class="item" id="one">
    <div class="content">
      <div class="left">
          <h2>Runtastic</h2>
          <h3>Connected via AppStore</h3>
      </div>
      <div class="right">
          <h3 class="edit">Edit</h3>
      </div>
    </div>
  </div>

  <div class="item" id="two">
      <div class="content">
        <div class="left">
            <h2>My Health</h2>
            <h3>Connected via AppStore</h3>
        </div>
        <div class="right">
            <h3 class="edit">Edit</h3>
        </div>
      </div>
    </div>

    <div class="item" id="three">
        <div class="content">
          <div class="left">
              <h2>FitBit Wearable</h2>
              <h3>Connected via FitBit Platform</h3>
          </div>
          <div class="right">
              <h3 class="edit">Edit</h3>
          </div>
        </div>
      </div>

      <div class="item" id="four">
          <div class="content">
            <div class="left">
                <h2>BasicFit</h2>
                <h3>Connected via BasicFit Account</h3>
            </div>
            <div class="right">
                <h3 class="edit">Edit</h3>
            </div>
          </div>
        </div>

        <div class="item" id="five">
            <div class="content">
              <div class="left">
                  <h2>KNBSB Baseball Bond</h2>
                  <h3>Connected via KNBSB Registration</h3>
              </div>
              <div class="right">
                  <h3 class="edit">Edit</h3>
              </div>
            </div>
          </div>

          <div class="item" id="six">
              <div class="content">
                <div class="left">
                    <h2>iSleep Tracker</h2>
                    <h3>Connected via AppStore</h3>
                </div>
                <div class="right">
                    <h3 class="edit">Edit</h3>
                </div>
              </div>
            </div>
</div>
