<app-sidebar></app-sidebar>
<div id="container">
  <div id="item">
    <div class="content">
      <div class="left">
          <h2>NLXX BANKX 0123 4567</h2>
          <h3>Connected via PSD2</h3>
      </div>
      <div class="right">
          <h3 class="edit">Edit</h3>
      </div>
    </div>
  </div>

  <div id="item">
      <div class="content">
        <div class="left">
            <h2>My Health</h2>
            <h3>Connected via AppStore</h3>
        </div>
        <div class="right">
            <h3 class="edit">Edit</h3>
        </div>
      </div>
    </div>

    <div id="item">
        <div class="content">
          <div class="left">
              <h2>FitBit Wearable</h2>
              <h3>Connected via FitBit Platform</h3>
          </div>
          <div class="right">
              <h3 class="edit">Edit</h3>
          </div>
        </div>
      </div>

      <div id="item">
          <div class="content">
            <div class="left">
                <h2>BasicFit</h2>
                <h3>Connected via BasicFit Account</h3>
            </div>
            <div class="right">
                <h3 class="edit">Edit</h3>
            </div>
          </div>
        </div>

        <div id="item">
            <div class="content">
              <div class="left">
                  <h2>KNBSB Baseball Bond</h2>
                  <h3>Connected via KNBSB Registration</h3>
              </div>
              <div class="right">
                  <h3 class="edit">Edit</h3>
              </div>
            </div>
          </div>

          <div id="item">
              <div class="content">
                <div class="left">
                    <h2>iSleep Tracker</h2>
                    <h3>Connected via AppStore</h3>
                </div>
                <div class="right">
                    <h3 class="edit">Edit</h3>
                </div>
              </div>
            </div>
</div>
