<app-sidebar></app-sidebar>

<div id="container">
  <div class="item">
      <h2>Right now <strong>3</strong> parties have insight on your data</h2>
    <div class="content">
        <table>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Remove</th>
            </tr>
            <tr>
              <td class="name">APG</td>
              <td class="type">Pension Fund</td>
              <td class="remove">Remove</td>
            </tr>
            <tr>
              <td class="name">Menzis</td>
              <td class="type">Health Insurer</td>
              <td class="remove">Remove</td>
            </tr>
            <tr>
              <td class="name">Amesfoortse</td>
              <td class="type">Absenteeism Insurer</td>
              <td class="remove">Remove</td>
            </tr>
          </table>
    </div>
  </div>
</div>


