<app-sidebar></app-sidebar>

<div id="container">
  <div class="item">
      <h2>Right now <strong>2</strong> parties have insight on your data</h2>
    <div class="content">
        <table>
            <tr>
              <th>Name</th>
              <th>Remove</th>
            </tr>
            <tr>
              <td class="name">SAM-Works International BV.</td>
              <td class="remove">Remove</td>
            </tr>
            <tr>
              <td class="name">Fontys University of Applied Sciences</td>
              <td class="remove">Remove</td>
            </tr>
            <tr>
              <td class="add"><h3>Add a new party</h3></td>
            </tr>
          </table>
    </div>
  </div>
</div>


