<nav role="navigation">
    <div id="menuToggle">
      <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
      <input type="checkbox" />
      
      <!--
      Some spans to act as a hamburger.
      -->
      <span></span>
      <span></span>
      <span></span>
      
      <!--
      The menu has to be inside of the button.
      -->
      <ul id="menu">
        <div class="account">
          <h2> MY NAME </h2>
          <h3> View more... </h3> 
        </div>
        <a href="#"><li>Dashboard</li></a>
        <a href="#"><li>About</li></a>
        <a href="#"><li>Info</li></a>
        <a href="#"><li>Contact</li></a>
      </ul>
    </div>
  </nav>