<app-sidebar></app-sidebar>

<main>
  <div id="graph-img"></div>

  <div id="detailItems">
      <div class="item" id="one">
          <div class="content">
            <div class="left">
                <h2>BasicFit</h2>
                <h3>Connected via FitBit Platform</h3>
            </div>
            <div class="right">
                <h3 class="edit">Edit</h3>
            </div>
          </div>
        </div>
        <div class="item" id="two">
            <div class="content">
              <div class="left">
                  <h2>FitBit Wearable</h2>
                  <h3>Connected via FitBit Platform</h3>
              </div>
              <div class="right">
                  <h3 class="edit">Edit</h3>
              </div>
            </div>
          </div>
          <div class="item" id="three">
              <div class="content">
                <div class="left">
                    <h2>FitBit Wearable</h2>
                    <h3>Connected via FitBit Platform</h3>
                </div>
                <div class="right">
                    <h3 class="edit">Edit</h3>
                </div>
              </div>
            </div>
            <div class="item" id="four">
                <div class="content">
                  <div class="left">
                      <h2>FitBit Wearable</h2>
                      <h3>Connected via FitBit Platform</h3>
                      <div id="data"></div>
                  </div>
                </div>
              </div>
  </div>
</main>

