<app-sidebar></app-sidebar>

<div id="container">
  <div class="item">
      <h2>This app should be tailored to you, that's why you can change the look and feel here!</h2>
    <div class="content">

        <h3>Change your name here</h3>
        <!-- Textfield with Floating Label -->

        <form action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="sample3">
              <label class="mdl-textfield__label" for="sample3">Name...</label>
            </div>
          </form>
        
          <h3>How should we call you?</h3>
        <!-- Textfield with Floating Label -->

        <form action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="sample3">
              <label class="mdl-textfield__label" for="sample3">Screen Name...</label>
            </div>
          </form>
  
          <h3>How many times a day can we notify you?</h3>
        <!-- Numeric Textfield with Floating Label -->
      <form action="#">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
            <label class="mdl-textfield__label" for="sample4">Number...</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
        </form>
      
        <!-- Accent-colored raised button with ripple -->
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Save data
  </button>

    </div>
  </div>
</div>